h1{
	text-align: center;
	padding-top: 2%;
}

/* Months */
.month{
	padding-top: 2%;
}
.month .col-md-1{
	border: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.month .col-md-1:hover{
	font-weight: bold;
}
.monthselector{
	padding-top: 2%;
	padding-bottom: 2%;
}

/* Weeks */
.weekselector{
	padding-top: 2%;
	padding-bottom: 2%;
}
.weeks{
	padding-top: 2%;
}
.weeks .col-md-1{
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}
.weeks .col-md-1:hover h4{
	font-weight: bold;
}
.btn-group{
	padding-bottom: 2%;
}